@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,800');
html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin-top: 0px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}